/* --- CONTAINER GERAL --- */
.containerAcesso {
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente. */
  flex-direction: column; /* Organiza os itens em uma coluna. */
  padding-top: 145px;
}

/* --- FORMULÁRIO (CONTAINER DO CONTEÚDO) --- */
.formAcesso {
  display: flex;
  flex-direction: column;
  height: 380px;
  padding: 30px;
  border-radius: 15px;
  background-color: #1c2738;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

/* --- TÍTULO --- */
.acessoH1 {
  margin-top: 20px;
  color: limegreen; /* Cor de sucesso. */
  font-size: 32px;
  text-align: center;
}

/* --- SEÇÃO DE BOTÕES --- */
.botoesAcesso {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  gap: 25px; /* Espaçamento entre os botões. */
}

/* --- ESTILO GERAL DOS BOTÕES --- */
.botoesAcesso button {
  border-radius: 30px;
  height: 45px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: opacity 0.3s, background-color 0.3s;
  background-color: rgb(67 52 157);
}

.botoesAcesso button:hover {
  opacity: 0.8; /* Efeito ao passar o mouse. */
}

/* --- LOGO --- */
.logoAcesso {
  width: 90px;
  margin-top: 33px;
  align-self: center; /* Centraliza a logo no container. */
}